<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1680916311.289263</real>
	<key>UUID</key>
	<string>D1CDEED8-4BF8-4D2D-9B86-4A6436BD2975</string>
</dict>
</plist>
