<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1680918684.8968868</real>
	<key>UUID</key>
	<string>4D17E860-E399-49AA-A59C-4C249FFC6FDC</string>
</dict>
</plist>
